[2019-08-18 10:49] Pierre-Lannoy opened #1 "Remove curl calls"
To adhere to WP security rules it's needed (but not enforced) to use `wp_remote_*` function instead of direct curl calls. Currently Monolog go through curl, so there's something to change ;)

[2019-08-18 11:02] Pierre-Lannoy opened #2 "Add licenses in libraries"
Add licenses files to each embed libraries.

[2019-08-18 11:04] Pierre-Lannoy opened #3 "Write readme.txt"
Write `readme.txt` file, see [https://wordpress.org/plugins/readme.txt](https://wordpress.org/plugins/readme.txt).

[2019-08-18 11:11] Pierre-Lannoy opened #4 "Write README.md"
Write a comprehensive `README.md` (and page header) to provide:

- description of the plugin
- ways to use it
- rules to contribute

[2019-08-18 11:18] Pierre-Lannoy opened #5 "Design a logo and headers images"
Design a logo for the plugin.

[2019-08-18 18:04] Pierre-Lannoy commented on #1
I've just sent a mail to the WP Plugin Directory team to clarify their position on this point regarding "external libraries".

[2019-08-18 18:09] Pierre-Lannoy commented on #1
Wow! What a responsive team. They send me an answer just now. To summarize:

We only require you to NOT use Curl if it's in your own code, not in libraries._

So, there's no reason to rewrite cURL calls. Hell yeah!

[2019-08-18 18:09] #1 closed

[2019-08-18 18:54] Pierre-Lannoy commented on #2
Done :)

[2019-08-18 18:54] #2 closed

[2019-08-22 20:52] Pierre-Lannoy opened #6 "Write developer's guidelines"
Write all details regarding developing a listener and uses of levels.

[2019-08-23 15:19] Pierre-Lannoy commented on #3
Done, ready for submission.

[2019-08-23 15:19] #3 closed

[2019-08-26 08:46] Pierre-Lannoy commented on #5
Done with a first (poor) version.

[2019-08-26 08:46] #5 closed

[2019-08-26 09:41] Pierre-Lannoy commented on #4
Done!

[2019-08-26 09:41] #4 closed

[2019-08-29 12:35] szepeviktor opened #7 "Include Composer autoloader in the plugin"
We could include Composer's autoloader AND put all of our classes in 1 directory. Now there are two orphans

- ./public/class-decalog-public.php
- ./admin/class-decalog-admin.php

Of course we still need our own autoloader as this project follows WPCS which - I think - will be deprecated as soon as core gets a namespace.

[2019-08-29 12:37] szepeviktor commented on #7
I would welcome PSR-4 naming as this `class-*.php` nonsense resembles PHP 5.2

[2019-08-29 15:14] Pierre-Lannoy commented on #6
First version done!

[2019-08-29 15:14] #6 closed

[2019-08-29 19:05] Pierre-Lannoy commented on #7
Hello Viktor.
Thanks for your suggestions.
In fact, the structure of this plugin is mainly a structure I regularly use to create plugins. I know it is not perfect, but the main goal for me was:
- to be understandable / easily "usable" by me
- to stick as much as possible to WordPress guidelines (and coding standards)

I fully understand that the first reason for this will have to evolve (because s

[2019-08-29 19:12] szepeviktor commented on #7
All right, I am not the one to argue about it.
Here are some class files with PSR-4 names: https://github.com/Pierre-Lannoy/wp-decalog/tree/master/includes/libraries/monolog

[2019-08-29 19:29] szepeviktor commented on #7
- I'd also leave WPCS-named classes the way they are now
- rearrange the two orphan classes
- load libraries with Composer (`vendor/composer/*` files)

[2019-09-07 09:22] Pierre-Lannoy opened #9 "Add plugins real names"
In the WordPress listener, it would be better to display plugin real names than their paths.

[2019-09-10 12:58] Pierre-Lannoy opened #10 "Adds a TRUE PSR-3 compliant logger"
A logger which uses are "standard" and which implements PSR\Log\LoggerInterface ;)

[2019-09-11 17:46] Pierre-Lannoy commented on #10
Done. See [developer's documentation](https://github.com/Pierre-Lannoy/wp-decalog/blob/master/DEVELOPER.md).

[2019-09-11 17:46] #10 closed

[2019-09-22 19:20] Pierre-Lannoy commented on #9
Was done in 1.4.0

[2019-09-22 19:20] #9 closed

[2019-12-18 15:04] Luc45 opened #11 "Can't select Listeners"
**Describe the bug**
Can't choose which Listeners to show

**To Reproduce**
Steps to reproduce the behavior:
1. Go to wp-admin/options-general.php?page=decalog-settings&tab=listeners
2. Switch from "All available listeners" to "Selected Listeners"
3. Optionally select some listeners. Save.
4. "All available listeners" option will be selected again.

**Expected behavior**
On step 4, it should show

[2019-12-18 15:24] Pierre-Lannoy commented on #11
Hello @Luc45 !
That's really strange as I'm currently not able to reproduce this behavior. Are you using the version available on wp.org or the current dev (on GitHub)?

[2019-12-18 16:02] Luc45 commented on #11
I'm using the one from WP.org

[2019-12-18 16:20] Pierre-Lannoy commented on #11
OK. I'm able to reproduce this issue on fresh WP5.3.1... Let me investigate it....

[2019-12-18 17:44] Pierre-Lannoy commented on #11
I found the root cause and just releases the 1.7.2 to fix it.
Could you update your plugin and give me a feedback about it?
Thanks.

[2019-12-19 16:48] Luc45 commented on #11
Yup, working now, thanks! Nice code, congratulations!

[2019-12-19 16:57] Pierre-Lannoy commented on #11
Thanks a lot! And thank you to create this issue...
Don't hesitate to submit a PR if you write a listener for a wp.org plugin ;)

[2019-12-19 16:57] #11 closed

[2020-09-02 00:14] mgaryGCM opened #13 "Authenticated Syslog Forwarding"
I'd like to utilize your plugin for syslog forwarding to SIEM. This tool has a cloud hosted syslog collector which should be capable of receiving the logs given your formatting. The issue with this is that it currently only accepts authenticated messages, i.e. with a Token.

Do you think it would be possible to update this file (SyslogHandler.php) potentially on lines 22 & 41 to pass an authentica

[2020-09-02 05:36] Pierre-Lannoy commented on #13
Hello mgaryGCM!
You're the first one to ask for that and I must admit I was not aware that some services were asking for a token. In fact, it makes sense to "sort" logs when you have many different customers.

After looking for some service providers, they all do it a little differently. If we want to have this feature, I have to do it differently for each SIEM provider. So, first thing first, who

[2020-09-02 14:29] mgaryGCM commented on #13
Pierre-Lannoy,

We utilize Sumo Logic for our cloud ingestion. Here is a little more data on how this data collector would work if used: https://help.sumologic.com/03Send-Data/Sources/02Sources-for-Hosted-Collectors/Cloud-Syslog-Source

It looks like the token would need to be passed with the message either in a structured data field or within the message body.

Thank you,
Michael

[2020-09-02 14:49] Pierre-Lannoy commented on #13
Thanks.
I will see if it's possible - just opened a free 30-d trial ;)
Nevertheless, the syslog choice is a strange choice today: very poor format in term of "information density" (limited length, no structured data). Is there a reason why you choose it? Just curious, no problem if you don't want to answer :)

[2020-09-02 15:04] mgaryGCM commented on #13
Agreed on syslog being a little archaic. As our WordPress instances are cloud hosted we'd like to use a cloud>cloud methodology and not hop to an on-prem collector. We're somewhat limited in the types of cloud APIs available via Sumo. For this application it looks like our only method is via "HTTP Logs & Metrics" or "Cloud Syslog".

I was able to bootstrap your Slack/webhooks logger to work with t

[2020-09-02 15:09] Pierre-Lannoy commented on #13
OK. Understood :)
Just let me some days to see if I can do it with syslog on TCP... I will tell you.

[2020-09-02 15:10] mgaryGCM commented on #13
Excellent, thank you for the help!

[2020-09-03 16:31] Pierre-Lannoy commented on #13
Hello!
I can confirm Sumo Logic cloud-syslog will be available as handler in DecaLog 1.14.0. It's now working on my test platform.

Thanks for the suggestion.

PS: if you're happy with the plugin, don't hesitate to [rate-it](https://wordpress.org/support/plugin/decalog/reviews/#new-post) on wp.org.

[2020-09-03 18:20] mgaryGCM commented on #13
Excellent, thank you so much for the help! I haven't rated anything yet but would definitely be happy to in this case.

Thanks again,
Michael

[2020-09-04 16:41] Pierre-Lannoy commented on #13
Hello!
1.14.0 is released. I close this issue, don't hesitate to open new one(s) if you want to suggest plugin improvements...

[2020-09-04 16:41] #13 closed

[2020-09-04 19:45] mgaryGCM commented on #13
Thank you very much, just tested and deployed this functionality into our environment.

[2021-03-26 13:36] lagosnomad opened #14 "DecaLog to SIEM"
Hello,

Is there a way to integrate logs directly from decalog to custom SIEM?

[2021-03-26 13:43] #14 closed

[2021-08-28 10:31] JanThiel opened #16 "Add sitedomain to event logging"
**Is your feature request related to a problem? Please describe.**
Currently there is the siteid and the sitename within the meta of an event log entry. The name may not be easily matchable to a single site in a multisite environment. The id again requires an additional lookup step to identify the origin site. Having the domain would allow a direct access to the origin site (<domain>/wp-admin for

[2021-08-28 11:52] Pierre-Lannoy commented on #16
Hi Jan!
You're definitely right. That's a good thing to have. Let me review your PR....

[2021-08-28 11:52] #16 closed

[2021-08-28 12:01] Pierre-Lannoy commented on #16
Many thanks, Jan, for your PR.
It will be in DecaLog 3.2.0...

[2021-08-28 15:05] JanThiel commented on #16
Thank you very much @Pierre-Lannoy for this amazing Toolset :-) Glad to contribute.

[2021-08-29 12:22] JanThiel opened #18 "Allow custom code to remove POO Menu pages"
**Is your feature request related to a problem? Please describe.**
Currently the menu pages are created at `PHP_INT_MAX` and `PHP_INT_MAX  -1` in the `finalize` method. This makes it virtually impossible to remove the pages using own code.
We want to remove the Dashboard (`perfopsone-dashboard`) for non Super Admins in Multisite, as we do not want "Site owners" = _Single Admins_ to access POO / De

[2021-08-29 16:52] Pierre-Lannoy commented on #18
Hi Jan!
Thank you to pointing out this curious behaviour. Currently it's more a bug than an improvement : a menu that contains 0 item should not be displayed...
And yes, I've forgotten this very case :(

Would you find it better if this menu disappeared automatically, if you had the possibility to do it by yourself or both?

[2021-08-29 18:06] JanThiel commented on #18
Personally, I would definitely vote for both.

An empty menu is bad ux, so it shouldn't be visible.

Yet there might be cases where the menu is not empty but there is a need to
remove it. So I would suggest to also add the lowest possible priority to
the admin_menu action calls instead of max int. Then everything works the
"WordPress way" again :-).
If you added the max int for a certain reason, l

[2021-08-30 17:11] Pierre-Lannoy commented on #18
Hi Jan!
Hiding of the main menu (when empty) is fixed (will be in 3.2).
For the custom management of the visibility, I was wondering if it would be better to provide filters like `poo_hide_main_menu`, `poo_hide_analytics_menu` and so on... What do you think about it?

[2021-08-30 19:38] JanThiel commented on #18
Thanks alot!

Providing individual filters would be the "gold standard" in my opinion. That's much more comfortable than searching for the menu slugs to remove them manually.
Another option I saw in other plugins (WP-ROCKET for example) are capabilities. The menus would then render based on the caps of the user. The benefit of this would be a real customizable access control. Just hiding the menu

[2021-08-31 07:27] Pierre-Lannoy commented on #18
Hi Jan!
Here what I will do: I will first implement individual filters (will be in 3.2 / ETA before Sept. 7th) and see how it is used. If the need arises, I will implement it afterwards via capabilities (which seems a little bit "overkill" for now).
Thanks for the suggestion and discussion, Jan. It really helps :)

[2021-09-07 12:35] Pierre-Lannoy commented on #18
Hi Jan!
The new 3.2.0 version (available on wp.org for about 15 minutes) adds hooks to hide menus.
You can hide the main menu via the `poo_hide_main_menu` filter or each submenu via the `poo_hide_analytics_menu`, `poo_hide_consoles_menu`, `poo_hide_insights_menu`, `poo_hide_tools_menu`, `poo_hide_records_menu` and `poo_hide_settings_menu` filters.
I'm closing this issue as I think it will do the j

[2021-09-07 12:35] #18 closed

[2021-09-07 20:06] JanThiel opened #19 "Corelistener - pre_clear_scheduled_hook: Wrong number of arguments"
**Describe the bug**
https://github.com/Pierre-Lannoy/wp-decalog/blob/ab0c8898d503ade619f9416b418be6d2471aac76/includes/listeners/class-corelistener.php#L188

5 parameters configured, API only offers 4:
https://developer.wordpress.org/reference/functions/wp_clear_scheduled_hook/
[code]

**Environment (please complete the following information):**
 - PHP version: 7.4.23
 - WordPress version and fla

[2021-09-07 20:53] JanThiel opened #20 "Corelistener - pre_clear_scheduled_hook: Wrong Log message if external cron system used"
**Describe the bug**
If pre_clear_scheduled_hook returns anything other than `null` the logger logs:
[code]
Yet this message is wrong. In our case we replaced wp-cron with [Cavalcade](https://github.com/humanmade/Cavalcade). The WordPress Docs states:

https://developer.wordpress.org/reference/hooks/pre_clear_scheduled_hook/#description

Thus an INT return value indicates that there is some wp-cro

[2021-09-09 16:27] Pierre-Lannoy commented on #19
Hi Jan!
Thanks for the hint. You're right, the signature I used is wrong. In fact, it is not even 4, but 3 parameters... OMG How did I let this go by?
Never mind, it will be fixed in the next release, of course...

[2021-09-09 16:35] Pierre-Lannoy commented on #20
Wow ! Thank you so much for this so well-formed issue :)
It must be fixed in the next release. Feel free if you want / have time to submit a PR. If no, I will do it after reviewing all "alternatives" to wp-cron (you're the first one I know who use Cavalcade).
Many thanks for all this feedback, it's great help!

[2021-09-09 20:45] JanThiel commented on #19
You are very welcome :-) Things happen ;-) And this one doesn't really matter from a functional perspective.

But 4 parameter it is: `$pre, $hook, $args, $wp_error`.
Don't be confused by the 'null' in the `apply_filters` call.

Best,
Jan

[2021-09-09 21:39] JanThiel commented on #20
A well written issue is the least courtesy to make when adding work to someone elses schedule ;-)

To update you on my current knowledge and research:
- I am not aware of any compareable solution to Cavalcade
- Nor am I aware of any other "alternative WP-Cron implementation"
- Cavalcade is a MU-Plugin and thus there is no way to check if it es enabled using the WP Plugin API (`is_plugin_active`)
-

[2021-10-11 16:16] JanThiel opened #21 "OPcache logging cannot handle multi-server environments"
**// UPDATE**
**Describe the bug**
The logging of a manual opcache restart is triggered frequently as the compare is only capable of handling a single server. When there are more servers (cluster setup) the state in the WP site meta only reflects one server. Comparing the states of other running servers leads to false assertions and false logging.

https://github.com/Pierre-Lannoy/wp-decalog/blob/

[2021-10-13 17:13] Pierre-Lannoy commented on #20
Hello Jan!

I've made a new listener specifically for Cavalcade as it was too specific to be managed by core listener. Cavalcade events will appear as "library" class events in DecaLog 3.3.0.

I would like to thank you for the invaluable help you give on this issue. Without it, I could not have done this. 🥇

I'm closing this issue, even if 3.0.0 is not yet released... Don't hesitate to re-open if

[2021-10-15 06:49] JanThiel commented on #21
Our logging says yes:
![image](https://user-images.githubusercontent.com/3857275/137444283-01e27e37-3cc6-4405-ae31-7c692b9f363b.png)

[2021-10-15 06:50] Pierre-Lannoy commented on #21
OK, I just have a deep look on your screenshot and forget my last question: availability is ok (so, you have an operational cron ;) ), "cached file" is bad value, you should have something about 4K-6K files on a "standard" WP install with some plugins. And, worst: "hit ratio" is uncomputable. The main reason for that may be that OPcache is reset more frequently than 5 minutes (the frequency of ana

[2021-10-15 06:54] JanThiel commented on #21
Looks that way :-/ Still no clue what that might be... Anyway, thanks for your support :-)
I will close this issue as this is nothing wrong with Decalog :-)

[2021-10-15 11:26] JanThiel commented on #21
Hmm ... strange things. The Opcache Monitor is still empty. Yet I checked the stats that Decalog writes into the site meta. And that actually looks good and fine to me:

[code]

In addition to that there are no new Opcache related warnings in the log. It _seems_ kind of solved. Which is weird because all I changed was the mentioned addition of Opcache to the CLI process PHP config.
I also added so

[2021-10-15 15:30] JanThiel commented on #20
Thanks @Pierre-Lannoy!
One remark: Shouldn't the default listeners be de-registered? Wouldn't both listeners fire now?

[2021-11-02 13:14] Pierre-Lannoy commented on #21
Hi @JanThiel !
Currently working on this issue and have some questions…
Can I assume the difference between instances (taking part in the cluster) are fully synchronised in term of local fs, php versions, installed modules, etc. (if so, how? - are they k8s nodes?)? If yes, the only "difference" between them is memory, opcode caching and maybe temp fs. Can you confirm this?

Thanks for your help.

[2021-11-02 13:22] JanThiel commented on #21
Hi @Pierre-Lannoy Yes, all nodes are synced in terms of software, config and version of the software.
In our scenario all nodes are bare metal. Config Management is done using Ansible.

PHP, OS, Patchlevel and such are all identical on all machines ( if nothing goes wrong ;-) ). Anything else would be insane.

The file system is NOT synced as all Network-FS have massive negative impact on PHP work

[2021-11-02 13:29] Pierre-Lannoy commented on #21
YES, this helps 👍🏼
Thanks for this, I will focus my work on "volatile" things (like OPcache) and not on static ones (like versions).

Just a last question: so, in your scenario, all nodes have a different hostname?

[2021-11-02 13:30] JanThiel commented on #21
Yup, each machine has a unique hostname.

[2021-11-02 13:32] Pierre-Lannoy commented on #21
Haha. Thanks a lot.
I confirm the 3.3.0 version will fix your issue.

[2021-11-02 14:19] #21 closed

[2022-01-07 16:06] JanThiel opened #23 "WP Core AJAX Calls to wp_ajax_sample_permalink are wrongly logged as critical"
**Describe the bug**
Happy new year :-)

We have reproducible "Critical" Error log entries in Datadog for this AJAX endpoint. It seems that you already added some code to catch this in the past (2y ago) which doesn't seem to work (anymore?).

https://github.com/Pierre-Lannoy/wp-decalog/blob/bece37854f9fb31e2784336930a2bbc3a9893a3a/includes/listeners/class-corelistener.php#L1223-L1227

🟥 Critical [

[2022-01-08 14:34] Pierre-Lannoy commented on #23
Hello @JanThiel … And happy new year too!

Haha. You're right, the analyse of `wp_die()` is a pain in the ass : there's not a "standardised" way to use it in WP (just search on how it is used, even in the core, you will be shocked). And of course, you're right too, it should be better handled on the DecaLog side. I will fix it (with a more shock-proof method) for the next release.

BTW, I'm not ab

[2022-01-08 16:21] JanThiel commented on #23
@Pierre-Lannoy Good catch! We use the Classic Editor Plugin and thus the classic editor for our sites instead of Gutenberg. This might explain the difference.
And yea, I agree that `wp_die` is neither designed nor used very straight forward. When I saw the `wp_die` calls in the ajax call with no status code set I expected the error in there.

[2022-01-11 19:16] Pierre-Lannoy commented on #23
Ahahaha. This is driving me completely crazy… I'm definitely unable to reproduce it, even if I understand well the root cause of the issue I should face :/
Furthermore, I'm not even able to find the right `wp_die()` call in 5.9… I know you're currently with 5.8, but do you plan to update to 5.9 in some weeks?

[2022-01-11 19:49] JanThiel commented on #23
Don't go mad ;-)

It is this ajax endpoint:
https://github.com/WordPress/WordPress/blob/dbc8d76a9f0fb15bd5546ce5d4dd78a8f497ae2f/wp-admin/includes/ajax-actions.php#L1975

It is also there in the WP5.9 branch.

You should be able to easily trigger this using Postman or any browser DEV tools :-)

But anyway isn't this just one source of this issue? As I believe all AJAX calls that terminate with `wp

[2022-01-11 20:46] Pierre-Lannoy commented on #23
Of course. And you're right. And the quick solution is to write separate handlers with a debug-only handler for Ajax calls.
But I do not understand how you get this as, from my understanding, the `wp_ajax_sample_permalink()` is a "dead-end" code.

Nevermind. I'm going to sleep on it and will see if I'm more intelligent at the end of the week 🤣

I any case, you can count on a solution (and a new 3.

[2022-01-11 21:10] JanThiel commented on #23
Let me help you with this - again - mind blowing 🤯  (not in a good way) design decission of WordPress and one more reason why the AJAX stuff belongs to the past:

Here is the "reference":
https://github.com/WordPress/WordPress/blob/270f2011f8ec7265c3f4ddce39c77ef5b496ed1c/wp-admin/admin-ajax.php#L89

And this is the ajax listener registration:
https://github.com/WordPress/WordPress/blob/270f2011f8

[2022-01-12 09:51] Pierre-Lannoy commented on #23
Ahhhhh. Yes, that's it! Thank you so much :sweat_smile:

Don't worry, there is no excessive pressure: the new version should be available soon in any case.
My only point was to include a fix for your issue, and now, I think it would be possible.

Thanks again.

[2022-01-20 23:10] JanThiel opened #24 "Missing resilience for broken site option decalog_loggers"
**Describe the bug**

When for whatever reasons the sitemeta `decalog_loggers' gets corrupted, the site is doomed in an unusable state as long as decalog is enabled. Only way out: Move / Delete the Decalog plugin folder.

Happened to us when our Webservers lost connection to their DB servers due to a network outage. Seemd to be very bad timing as this one value was left filled with garbage. After

[2022-01-21 09:20] Pierre-Lannoy commented on #24
Hello @JanThiel !
Sorry to hear you had such hard times…

And yes, for now, in such case you have to manually "remove" DecaLog.

I think your mishap is an opportunity to implement a failsafe in the next version… Let me think about it…

[2022-01-21 09:22] Pierre-Lannoy commented on #23
The 3.4 version embed a fix for your this bug.
I close this issue but don't hesitate to reopen it if needed.

Thanks again for your amazing reports.

[2022-01-21 09:22] #23 closed

[2022-01-21 10:12] JanThiel commented on #24
Not your fault :-) These things happen!
I have a PR ready with a possible solution. Then we can discuss about it :-)

[2022-01-25 17:15] Pierre-Lannoy commented on #24
Thanks for the PR, Jan!
I will merge it and add the failsafe I have in mind…
Thank you so much!

[2022-01-25 17:15] #24 closed

[2022-02-17 09:05] JanThiel opened #26 "HTML Encoded entities in Logs to DataDog"
**Describe the bug**
Hey @Pierre-Lannoy, its me again ;-) Hope you are doing well!

Since the last update to decalog 3.4.1 we encounter HTML encoded entities in our DataDog logs:

[code]

The `&ldquo;` and `&rdquo;` are new. It also happens for other HTML encodeable entities whenever they are part of the submitted log message.

I am quite certain this was not the case before we updated to 3.4.1. Y

[2022-02-19 14:55] Pierre-Lannoy commented on #26
Hi @JanThiel !
I'm going well (since Eunice has gone to see what's going on elsewhere), thanks… Hope you too :)

Regarding you issue, that's very strange. The only remembrance I have concerning this type of subject is [this commit](https://github.com/Pierre-Lannoy/wp-decalog/commit/9f0c7548000e63ae2c7c959182f64bec5565562e). But it's about New Relic, not DataDog.

Let me investigate it…

[2022-02-24 16:15] JanThiel commented on #26
If it helps, it is not just the message, it is also within the `trace` information:

[code]

Seems to be something more general.

[2022-02-24 16:21] JanThiel opened #27 "Make Metrics to collect configurable"
**Is your feature request related to a problem? Please describe.**
Metrics are an amazing tool to get insight into an application. But with the major analytics platforms charging by the number of metrics collected, it is a matter of cost to decide which metrics to actually trace. There are several metrics which create an exponential growth in the number of traced metrics.

**Describe the solution

[2022-02-25 08:42] Pierre-Lannoy commented on #26
Yes. It seems Datadog have changed something on its side.
The message is simple to fix. It's many more complex with stack trace.

I will try to globally fix it for the next version - even if I don't know how at this time 🤣

[2022-02-25 09:18] JanThiel commented on #26
Let me raise a ticket with Datadog and see what they reply :-)

[2022-02-25 09:32] Pierre-Lannoy commented on #26
Ah thanks. That's a good idea.

[2022-02-25 11:14] Pierre-Lannoy commented on #7
Hello @szepeviktor !
I have turned in my head countless times your proposals. And they make total sense, and are in the direction of a qualitative gap in the code itself and in its maintenance.
However, as long as WordPress does not have a libraries (and dependencies) manager, this can only lead to risks:
- namespace collisions
- version incompatibilities (and potential collisions too)
- non-compl

[2022-02-25 11:14] #7 closed

[2022-02-25 11:21] szepeviktor commented on #7
Thank you Pierre for your lengthy response!

Meanwhile - in the 3 years of this issue - there is a result. Here is how to write modern plugins for WordPress:
https://github.com/szepeviktor/small-project/blob/master/MAIN-FILE-PARTS.md 👀
some code is also include.

[2022-03-01 10:23] freshuk commented on #26
hi guys,  i can confirm same issue with datadog

[2022-03-03 10:03] Pierre-Lannoy commented on #27
Hi @JanThiel !

That's definitely a really good suggestion. And a must-have feature I will implement in the next version.
I'm currently trying some ways to do that, because unfortunately having checkboxes for all metrics is neither practical nor feasible:
- all PerfOps One plugins publish metrics via DecaLog (and by this I mean A LOT of metrics ;))
- as metrics are dynamically published, it would

[2022-03-03 10:44] JanThiel commented on #26
@Pierre-Lannoy Nope ... awaiting feedback from their technical department.

[2022-03-03 11:05] JanThiel commented on #27
Thank you :-)
Groups by source would be a possible way to reduce the amount of required config... But I am sure you will come up with a smart and handy solution as always ;-)

[2022-03-03 18:55] Pierre-Lannoy commented on #27
Ahaha. Thanks.
Note for now, the best way I found is to allow regex for including/excluding metrics (on a per-logger basis) 🤣
(and it's not even a joke )

[2022-03-21 16:32] JanThiel commented on #26
@Pierre-Lannoy Here is the feedback from DD. Can you suggest a way how to deliver what they request?

[2022-03-22 09:59] Pierre-Lannoy commented on #26
Hello @JanThiel and thanks for letting me know about DataDog's answer.
What is really strange (and why I doesn't understand their point) is DecaLog doesn't encode or decode HTML entities by itself. The record format has not changed since DecaLog 3.2.0 (2021-09-07). The only possible thing is they changed something from their side regarding json decoding/parsing.

Well, anyway, they're not going to

[2022-03-22 10:14] JanThiel commented on #26
I understood their request just as a request to prove that Decalog does not encode.
Is there an easy way (without code hacks) to dump a request before it is sent to Datadog?

[2022-03-22 12:55] Pierre-Lannoy commented on #26
Wowowowo. Found it! It's coming from DecaLog and it was introduced by [PHP 8.1 compatibility](https://github.com/Pierre-Lannoy/wp-decalog/commit/0c4fdadf5e20338c732fe6eac9510d08c903b369). So now, I have choice to 8.1 compatibility or correct strings 🤣
Let me investigate it and see how I can work around…

[2022-03-22 13:55] Pierre-Lannoy commented on #26
OK. That's fixed. Will be in the next release (3.5.0).
Sorry for the confused resolution of this issue. And thanks again to have reported it…

[2022-04-22 16:47] Pierre-Lannoy commented on #26
3.5.0 is out! Can you tell me if it's ok for you now?

[2022-04-26 14:49] JanThiel commented on #26
Thank you very much 😊 I will get back with feedback within the next couple of days

[2022-04-27 18:15] #26 closed

[2022-04-29 13:37] Pierre-Lannoy commented on #26
Great! Thanks for the feedback 👍🏼

[2022-05-30 19:50] stevapple opened #28 "Support custom Jaeger tags"
**Is your feature request related to a problem? Please describe.**
The Jaeger endpoint I’m given is shared by multiple users, and it will classify different applications by `token` tag. Currently `wp-decalog` cannot specify custom tags, so I’m not able to use the service.

**Describe the solution you'd like**
Allow users to set custom Jaeger tags.

**Describe alternatives you've considered**
Can’t

[2022-06-21 13:12] Pierre-Lannoy commented on #27
Hello @JanThiel !
Do you have some news on this? Is it usable from your point of view?
Thanks ;)

[2022-06-21 13:19] Pierre-Lannoy commented on #28
Hello @stevapple !
I see your [issue](https://github.com/jonahgeorge/jaeger-client-php/issues/121) on the client library. As soon as it is solved, I will implement it in DecaLog.

Thanks for the suggestion.

[2022-06-21 13:44] JanThiel commented on #27
@Pierre-Lannoy So sorry for not getting back to you! :-/ Simply slipped my todo list...
Feature looks good and is very usable 🚀❤️

Thank you very much!

[2022-06-21 13:44] #27 closed

[2022-07-11 16:27] deltaecho07 opened #29 "Core class: new metric theme updatable"
**Is your feature request related to a problem? Please describe.**
I would like to export a new metric from the core class. At the moment I can export `wordpress_core_wordpress_plugin_updatable` but there is no metric for themes. I've set up a prometheus endpoint and a grafana dashboard. An alert is triggered, when a plugin is updatable. I would like to implement the same process for a theme updat

[2022-07-11 16:48] Pierre-Lannoy commented on #29
Hello @deltaecho07 !
Thanks you so much for this suggestion. It will be implemented in the next version (3.6.0). You will have 2 new metrics:
`wordpress_core_wordpress_theme_installed` and `wordpress_core_wordpress_theme_updatable`.

[2022-07-11 19:58] deltaecho07 commented on #29
Hey @Pierre-Lannoy
Thank you for the quick response and your work! I am looking forward to the new release :)

[2022-07-22 04:01] stevapple commented on #28
I checked the source and found that Decalog is not using the Jaeger client directly, but instead constructing a Thrift payload directly?

Then we shouldn’t need such feature. The only solution is to manually append the tags in `Decalog\Handler\ AbstractTracingHandler:jaeger_format`.

[2022-08-09 08:35] JanThiel opened #30 "Improve Resilience for missing logger config even more (Follow up to #24 )"
**Is your feature request related to a problem? Please describe.**
Hey @Pierre-Lannoy :-)
As a follow up to https://github.com/Pierre-Lannoy/wp-decalog/issues/24 we took some time to evaluate the solution implemented there. In general it does what it should and prevents any exceptions from happening. But the current implementation leads to resetting the configured loggers whenever the failsafe tri

[2022-09-15 08:03] evoicefire opened #32 "No Database information in exporter traces"
**Describe the bug**
I am not sure if this is a usage error, a bug or should be a feature request. So let me know if I need to put this in a different spot.

I have enabled the "database" listener. I expected this to mean that information about database queries (ie. what query and how long it took) would be included in the trace data exporter into Jaeger (or whatever trace solution used).

However

[2022-09-22 07:40] Pierre-Lannoy commented on #32
Hello @evoicefire !
First of all, thank you so much for this detailed report ❤️
Your question is valid: bug or feature request?
Well, for a quick answer: it's not a bug because nothing is implemented to do that. There are many reasons for why it is not - for now. Performance, exhaustiveness, trigger threshold, dev vs. prod, etc. But the main reason is DecaLog is about PHP, not "really" database.
N

[2022-09-22 08:07] Pierre-Lannoy commented on #28
Hello @stevapple !
Sorry for this late answer…
If I understand well what you're suggesting, the best way to do what you want to achieve is to allow to set custom tags at the logger creation (as key/value pairs) and propagate it for all spans before sending. Am I right?

[2022-09-22 08:11] stevapple commented on #28
I think yes:)

[2022-09-22 08:14] Pierre-Lannoy commented on #28
OK, understood.
I will try to do it for 3.6 version of the plugin which will be ready for WP 6.1 release…

[2022-09-28 12:44] Pierre-Lannoy commented on #32
Hello @evoicefire !
As you cans see in the last commit, I've made the choice to include right in DecaLog the ability to:
- collate SQL queries as spans in traces;
- trigger an event for each slow SQL query (with a 50ms threshold).

It will be in the next DecaLog version (3.6.0) which will be ready before GA of WordPress 6.1.

Thanks again for pushing me to think about this again.

[2022-09-28 13:12] gmintoco commented on #32
@Pierre-Lannoy Wow! Thanks a lot for your attention I didn't expect this to be picked up so soon (or at all ;) ) much appreciated! I will make sure to give it a try as soon as possible.

My other idea that could be very useful was hooking into the Wordpress HTTP library (guzzle I think) and tracing external HTTP requests (ie. an example from our use case is that when searching the Wordpress site a

[2022-09-28 13:18] Pierre-Lannoy commented on #32
Thanks ;)

Regarding the HTTP activity in WordPress: no it's not relying on Guzzle. WordPress have its own library (yes, I know, please no comment 🤣) That's the bad news.
The good one is: I've developed a plugin to make this library "observable" (in a standalone way, or in conjunction with DecaLog). You can give it a try: https://github.com/Pierre-Lannoy/wp-traffic

[2022-09-28 13:20] Pierre-Lannoy commented on #32
In a general way, I made some plugins that are related to observability and performance. They are all free https://perfops.one

[2022-10-01 20:48] stuffeh opened #33 "Console breaks under php 8.x.x env"
**Describe the bug**
Perfopsone-consoles functionality break under PHP 8.x.x, even though https://wordpress.org/support/topic/php-8-fatal-error-3/ states it should be functional.

**To Reproduce**
Steps to reproduce the behavior:
1. Run with PHP 8.0 or PHP 8.1
2. Go to ./wp-admin/admin.php?page=perfopsone-consoles
3. Select any of the options available, such as Live API Calls, Live Events, or Vibe

[2022-10-01 21:08] stuffeh commented on #33
While I'm here. Do you have any idea if PerfOps One suit logs the traffic that hits fastcgi cache? Gut instinct says no, but figured I'd check with you. Any chance of a nginx flavored reports plugin?

[2022-10-02 07:08] Pierre-Lannoy commented on #33
Hello @stuffeh !

Thanks for this report. I was able to reproduce it, not on all my tests but sufficiently to see it. I will fix it for the 3.6 release…

Regarding the traffic logging  and caching tools and strategies, could you just open an issue or (better) a [discussion](https://github.com/Pierre-Lannoy/wp-decalog/discussions)? In short: it depends of what you mean by "traffic"…

[2022-10-02 08:31] Pierre-Lannoy commented on #33
I confirm 3.6 release of DecaLog will contain a fix for this. Release is planned in 3 weeks max…

[2022-10-05 12:54] Pierre-Lannoy commented on #30
Hello @JanThiel !
I'm about to release the new version and would like to validate your PR before. Could you confirm you're using this fix and it fixes the issue? Thanks.

[2022-10-05 13:30] JanThiel commented on #30
Hi @Pierre-Lannoy I've been on vacation and still cleaning up the "mess" vacations tend to leave within your inbox ;-). So sorry for the late reply!

We are running the branch live and haven't had any issues within the last 3 weeks. But personally I would as well considering punting this to a later release of your plugin. Although the code mainly adds safety checks before accessing assumed existin

[2022-10-05 15:11] Pierre-Lannoy commented on #30
Hi Jan!
OK. I understand well and I will postpone it until we have a clear idea of how to do it more "globally". Nevertheless, this means that it will be a problem for you when you update the plugin : you will have to "reproduce" your fix in your production environment. If it's ok for you, it's ok for me 😉  Just let me know…

Haha, do not apologize. Glad you were able to take vacations…

[2022-10-05 15:26] JanThiel commented on #30
Go ahead with the next release and I will refactor this PR to be more complete for the next release. You might want to cherry-pick some commits anyway for this release:

https://github.com/Pierre-Lannoy/wp-decalog/pull/31/commits/3f00ebca5b5fced80399a8a6d078aeb5f6935f35
https://github.com/Pierre-Lannoy/wp-decalog/pull/31/commits/a78bc00b79520e5a9190d4f0ee8d7ae0e2b85567

[2022-10-06 06:39] Pierre-Lannoy commented on #30
So, [I've done it](https://github.com/Pierre-Lannoy/wp-decalog/releases/tag/3.6.0) 😉

[2022-10-06 06:40] Pierre-Lannoy commented on #28
Hello!
Version 3.6.0 is released. Could you confirm it fixes your issue?
Thanks 😉

[2022-10-06 06:41] Pierre-Lannoy commented on #29
Hello!
Version 3.6.0 is released. Could you confirm it fixes your issue?
Thanks 😉

[2022-10-06 06:41] Pierre-Lannoy commented on #32
Hello!
Version 3.6.0 is released. Could you confirm it fixes your issue?
Thanks 😉

[2022-10-06 09:13] Pierre-Lannoy commented on #28
You have to set the corresponding option (it's off by default):
<img width="925" alt="Capture d’écran 2022-10-06 à 11 12 55" src="https://user-images.githubusercontent.com/15095492/194274441-124f86fe-d941-41b5-b57a-6b4024e5242c.png">

[2022-10-06 09:16] Pierre-Lannoy commented on #28
You have to specify it in the logger settings:
<img width="925" alt="Capture d’écran 2022-10-06 à 11 15 19" src="https://user-images.githubusercontent.com/15095492/194274990-bdb52d7b-d59e-4b34-9895-13093dc25719.png">

[2022-10-06 09:40] stevapple commented on #28
I used Jaeger and its log level is fixed to emergency. Is that why I’m not seeing any traces? Any way to change the behavior?

[2022-10-06 10:03] Pierre-Lannoy commented on #28
There's no "log level" in traces. Traces are collections of spans with tags. And, as all tracers I know, Jaegger do not manipulate the "concept" of log level (except for its own debugging).
So, I do not understand… What do you want to achieve?

[2022-10-06 10:06] stevapple commented on #28
🤔So… I can see events being processed by Decalog, but there’s no reports on my APM dashboard, so it’s reasonable to assume there’s something wrong in the middle, right?

Then is there anyway to debug?

[2022-10-06 10:12] stevapple commented on #28
Wait, must I add custom events through SDK to get spans? Is there built-in spans injected for WordPress and PHP?

[2022-10-06 10:14] Pierre-Lannoy commented on #28
Of course there is 😉 but I think it's not currently the issue.
Please, can you confirm what you want to send to your apm: events or traces?

[2022-10-06 16:26] #29 closed

[2022-10-06 23:26] stuffeh commented on #33
Yep, it works now. Thank you.

[2022-10-06 23:26] #33 closed

[2022-10-07 07:49] JanThiel opened #36 "[3.6.0] Call to undefined method WP_CLI::get_logger()“ at `./wp-content/plugins/decalog/includes/plugin/class-initializer.php:64`."
**Describe the bug**

After updating our Test ENV to Decalog 3.6.0 we got tons of these in our logs:

Uncaught exception (Error): “Call to undefined method WP_CLI::get_logger()“ at `./wp-content/plugins/decalog/includes/plugin/class-initializer.php:64`.

**To Reproduce**
Steps to reproduce the behavior:
Update to Decalog 3.6.0 and run code via WP-CLI

**Environment (please complete the following i

[2022-10-07 07:54] JanThiel commented on #36
WP-CLI 2.5.0

[2022-10-07 07:54] JanThiel commented on #36
Nothing bad happened yet :-) That's what test envs are for.

[2022-10-07 07:59] Pierre-Lannoy commented on #36
😅

Do you have the opportunity to update wp-cli? I must admit I made all my tests on the current version…

[2022-10-07 08:21] JanThiel commented on #36
Sure, just updated it to WP-CLI 2.6.0. Seems to fix it.

But there might be outdated WP-CLI versions out there in the wild as well. It's not that WP-CLI is very pushy about letting you know there are updates available. Nor are there any real issues with running older versions. Until know ;-)

I will close this issue but think you should add a `function_exists` around this code path to prevent this

[2022-10-07 08:21] #36 closed

[2022-10-07 08:26] Pierre-Lannoy commented on #36
Ahaha, I double agree:

Glad it's now ok for you. I will publish a new version (3.6.1) as soon as I collected and fixed all bugs of this new version.
Thanks a lot ❤️

[2022-10-14 09:02] JanThiel opened #37 "[Performance] Optimize / Reduce (expensive) log events"
**Is your feature request related to a problem? Please describe.**
We currently profile our WP setup. Decalog popped up as a source of too much rendering-time on nearly all requests.

See the profiling chart on the right in light and dark green. In this request the `CoreListener::plugin_close` causes about **40%** of the rendering time of that page. All Decalog is at about 52% of this single reque

[2022-10-14 09:10] JanThiel commented on #37
Just to add for sure regarding the plugin & theme update: This only happens if the transients are not filled. So it's not a general issue. But it happens from time to time.

[2022-10-14 09:58] JanThiel commented on #37
👍 Sounds perfect to me. And please don't call it "bad assumption" it's just that other people have other usecases ;-) So i'ts merely an evolution. And that's what OpenSource is all about, isn't it? Contributing and developing stuff together.

And yea, there was as well something off with these transients on our setup in some edge cases 👼. Fixed that already. But that was still nice to uncover thes

[2022-10-14 12:17] Pierre-Lannoy commented on #37
Definitely in deep agreement with this ❤️

Regarding your experience with WSAL, I see what you have in mind. Nevertheless, I do not blame them. They made a choice of something simple (simplistic?) that match with mainstream needs. That's not the case with DecaLog: I've made the choice of something efficient, powerful and "deeper" (so, more technical, unfortunately). And I want to do everything to

[2022-10-24 10:46] AlexMazey opened #38 "CLI commands 'wp log listener enable/disable' work incorrectly"
**Describe the bug**
When I try to run a CLI command 'wp log listener disable wpdb' it returns a message 'Invalid listener id supplied' and exit.
The 'wpdb' listener definitely exists, as it is a standard one and it is shown in the listeners list after running 'wp log listener list'.

The root cause is in the line 1146 of includes/features/class-wpcli.php
https://github.com/Pierre-Lannoy/wp-decalo

[2022-10-24 12:53] Pierre-Lannoy commented on #38
OMG 😱
I confirm the bug. Let me see what's going on…

[2022-10-24 13:58] Pierre-Lannoy commented on #38
New 3.6.2 version released. Can you confirm it fixes the issue?
Thanks

[2022-10-24 14:48] AlexMazey commented on #38
Hello Pierre,

I have just tested the latest version and I confirm that the issue is fixed.
Thank you for the quick response!

[2022-10-24 14:48] #38 closed

[2022-10-27 10:47] gmintoco commented on #32
Hey, I just checked it out and it looks great! This will be a really great feature for debugging performance issues for sure. I am looking forward to installing this on our sites to start collecting some performance data :)

![image](https://user-images.githubusercontent.com/50625416/198263755-ca90bbe3-004b-409e-bebd-5d29752e122e.png)

I also tried out 'wp-traffic' which also looked really good fo

[2022-10-28 08:57] JanThiel opened #39 "Error [0] Metric not found: wordpress_php_php:error_nonfatal"
**Describe the bug**
We do tests with the PHP8 upgrade at the moment. After we upgraded the installation to 8.1 our logs were flooded with the "Metric not found" Error above for each and every WP-CLI run.
I hope and believe it is related. But the PHP upgrade is the only recent change which could have triggered this. We were able to reproduce this with Decalog 3.6.0 as well as 3.6.2 against Datadog

[2022-11-03 23:53] cru-git opened #40 "Site 247 integrations would be great"
Site 247 integrations would be great

[2022-11-04 07:28] Pierre-Lannoy commented on #32
Hello @gmintoco !
Thanks for your feedback ❤️
Regarding wp-traffic, it doesn't trace api calls, but you're right, it may be [a good suggestion to do](https://github.com/Pierre-Lannoy/wp-traffic/issues/new/choose) 😉

[2022-11-04 07:28] #32 closed

[2022-11-04 07:35] Pierre-Lannoy commented on #39
Hello @JanThiel !
Thank you for this report (perfect, as always).
Let me find what's going on…